<article class="post">
    
	<a href="{{ post.url }}">

	    <div class="post-image" style="background-image:url(/public/img/{{ post.thumbnail }})"> 
	    </div>

	    <div class="post-info">
		    <h3 class="post-title-cell">

		      
		        {{ post.title }}
		      

		    </h3>

		    <p class="post-description-cell">
		    	{{ post.description }}
			</p>

		    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    	</div>
    </a>
</article>

<hr>