<header class="banner-top" id="bannerimg">

  <div class="banner-overlay"> 
    
    <div class="banner-top-container">
      
      {% if page.layout == "post" %}
        <h1 class="post-title">{{ page.title }}</h1>
        <time datetime="{{ page.date | date_to_xmlschema }}" class="page-date">{{ page.date | date_to_string }}</time>
      {% else %}
        <p>
        Welcome skmd sla sd sdl a lsadja sldasjd asljd asld alsd asl dal laks dalsd lasd lajd lsaj dlaj dls l
        </p>
      {% endif %}

    </div>

  </div>

</header>