<header class="banner-top" id="bannerimg">

  <div class="banner-overlay"> 
    
    <div class="banner-top-container">
      
      {% if page.layout == "post" %}
        <h1 class="post-title">{{ page.title }}</h1>

        <h2 class="post-description">{{ page.description }}</h2>

        <div class="banner-dates">
          <p>I wrote this</p>
          <time datetime="{{ page.date | date_to_xmlschema }}" class="page-date">{{ page.date | date_to_string }}</time>
        </div>

        <div class="banner-dates">
          <p>I went here</p>
          <time datetime="{{ page.date | date_to_xmlschema }}" class="page-date">{{ page.travelled }}</time>
        </div>

      {% elsif page.title == "Home" %}
        <h1 class="post-title">Pixie <span class="typed"></span></h1>

        <h2 class="post-description">Come follow my life in stories and pictures.</h2>

      {% elsif page.title == "About" %}
        <h1 class="post-title">About Pixie...</h1>

        <h2 class="post-description">... Come follow my life in stories and pictures.</h2>

      {% else %}
        <h1 class="post-title">Hmmmm.....</h1>

        <h2 class="post-description">...Come follow my life in stories and pictures.</h2>
      {% endif %}

    </div>

  </div>

</header>