<aside class="sidebar">

	<a href="/about">

		<img src="/public/img/me.jpg" alt="Ceara Pixie">
		
		<p class="sidebar-title title">
			Hey!
		</p>

		<p class="sidebar-body">
			I’m Ceara. My friends call me Pixie. I’m 24. I live in East London. I’m training to be a teacher.
		</p>

		<p class="sidebar-body">
			In my spare time I like to eat food (especially PIZZA), wear trainers and explore new places.
		</p>

		<p class="sidebar-body">
			This blog is an opportunity to show you where I go... be it around the world or little hidden gem in Town (London)
		</p>

		<p class="sidebar-body">
			Come follow my life in stories and pictures.
		</p>

		<p class="read-more-pixie title">
			Find out little more about me
		</p>

	</a>

</aside>


