/**
 * Site header
 */
.site-nav {
    min-height: 56px;
    width: 100%;
    // Positioning context for the mobile navigation icon
    position: absolute;
    z-index: 1;

}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $color-grey;
    }
}

.site-nav-items {
    float: right;
    line-height: 56px;
    list-style: none;

    li {
        display: inline-block;

        a {
            display: block;
            padding: 0 $spacing-unit/2 0 $spacing-unit/2;

            color: $color-white;
            text-decoration: none;
            text-shadow: 0px 1px 4px rgba(0,0,0,0.50);

            opacity: 0.7;

            @include transition(all 0.1s cubic-bezier(.3,0,.5,1));

            &:hover {

                opacity: 1;
                text-shadow: 0px 1px 7px rgba(0,0,0,0.70);

            }
        }
    }
}