/**
 * Site header
 */
.site-nav {
    min-height: 56px;
    width: 100%;
    // Positioning context for the mobile navigation icon
    position: absolute;
    z-index: 1;

}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $color-grey;
    }
}

.site-nav-items {
    float: right;
    line-height: 56px;
    list-style: none;

    li {
        display: inline-block;

        color: $color-white;
        text-shadow: 0px 1px 4px rgba(0,0,0,0.50);
        font-weight: 400;

        opacity: 0.7;

        cursor: pointer;

        a {
            color: $color-white;
            text-decoration: none;

            display: block;
            padding: 0 $spacing-unit/2 0 $spacing-unit/2;

            @include transition(all 0.1s cubic-bezier(.3,0,.5,1));
        }

        &:hover {

            opacity: 1;
            text-shadow: 0px 1px 7px rgba(0,0,0,0.70);

        }

        ul {

            display: none;

            position: absolute; 
            top: calc(100% - 12px);
            margin-left: 0; 

            background-color: $color-white;
            @include border-radius(2px);
            box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.20);


            li {
                display: block;
                position: relative;
                float: none;
                
                a {
                    color: $text-color;
                    text-shadow: none;

                    &:hover {
                       text-shadow: none;
                       background-color: rgba($color-grey-light, 0.5); 
                    }
                }


            }
        }

        ul.visible {
           display: block;
        }
    }

    li.visible {
        opacity: 1;
    }
}