<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include masthead.html %}

    {% include bannerheader.html %}

    <div class="container content">

      <main class="page-content">
        {{ content }}

        {% for post in site.categories.town %}

          {% include articlecell.html %}

        {% endfor %}



      </main>

    </div>



    {% include footer.html %}


  </body>

  <script>
    //Set top banner img
    document.getElementById("bannerimg").style.backgroundImage =  'url(../../public/img/{{ post.thumbnail }})';
  </script>

</html>
