<!DOCTYPE html>
<html lang=en>

  {% include head.html %}

  <body>

    {% include nav.html %}

    {% include header.html %}

    <div class="page-content" id="content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

  {% if page.title == "Home" %}
    <script type="text/javascript" src="{{ site.baseurl }}/js/typed-setup.js"></script>  
  {% endif %}

  <link href='http://fonts.googleapis.com/css?family=Roboto+Mono:400,300,500|Montserrat' rel='stylesheet' type='text/css'>

</html>
