<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include masthead.html %}

    <div class="banner-top" id="bannerimg">
      <p>
        Welcome skmd sla sd sdl a lsadja sldasjd asljd asld alsd asl dal laks dalsd lasd lajd lsaj dlaj dls l
      </p>
    </div>

    <div class="container content">

      <main class="page-content">
        {{ content }}
      </main>

    </div>

    <aside class="sidebar">
      jdn
    </aside>

    {% include footer.html %}


  </body>

  <script>
    //Set top banner img
    document.getElementById("bannerimg").style.backgroundImage =  'url(public/img/{{ page.image }})';
  </script>

</html>
