<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include masthead.html %}

    {% include bannerheader.html %}

    <div class="container content">

      <article class="post page-content">
        {{ content }}
      </article>


      {% include cearabar.html %}

      {% include related.html %}

    </div>

    

    {% include footer.html %}


  </body>

  <script>
    //Set top banner img
    document.getElementById("bannerimg").style.backgroundImage =  'url(../../public/img/{{ page.image }})';
  </script>

</html>

