<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include masthead.html %}

    <header class="banner-top" id="bannerimg">
      <div class="banner-top-container">
        <h1 class="post-title">{{ page.title }}</h1>
        <time datetime="{{ page.date | date_to_xmlschema }}" class="page-date">{{ page.date | date_to_string }}</time>
      </div>
    </header>

    <div class="container content">

      <article class="post page-content">
        {{ content }}
      </article>


      {% include cearabar.html %}

      {% include related.html %}

    </div>

    

    {% include footer.html %}


  </body>

  <script>
    //Set top banner img
    document.getElementById("bannerimg").style.backgroundImage =  'url(../../public/img/{{ page.image }})';
  </script>

</html>

